<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
		<section class="jumbotron text-center">
			<div class="container">
				<h2>Chart of Accounts</h2>
        <div class="container mt-5">
          <div class="row justify-content-md-center">
            <form id="addAccount">
            <div class="col-12 col-md-3"></div>
            <div class="form-group">
              <input type="text" class="form-control" id="inputAccount" name="account" aria-describedby="accountHelp" placeholder="Enter new account" autocomplete="off">
              <small id="accountHelp" class="form-text text-muted">Enter a new account in the above input and click add to add to your chart of accounts</small>
            </div>
            <div class="col-sm">
              <button type="submit" id="add" class="btn btn-primary my-w" data-toggle="tooltip" title="Add account button" >
                Add Account
              </button>
            </div>
            <div class="col-12 col-md-3"></div>
          </form>
          </div>
        </div>
			</div>
		</section>
    <div class="messagealert" id="alert_container"></div>
    <div class="container" id="maincontainer">Loading Chart of Accounts...</div>
    <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Account Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="-1">
              <span aria-hidden="true" tabindex="-1">&times;</span>
            </button>
          </div>
          <div class = "modal-body">
            <form class="well form-horizontal" role="form" id="addAccount">
              <fieldset>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-2 control-label">Code</label>  
                  <div class="col-md-3 inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input name="code" placeholder="" class="form-control" type="text" tabindex="1">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-2 control-label">Name</label>  
                  <div class="col-md-10 inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <textarea name="narration" placeholder="" class="form-control"  type="text" tabindex="2"></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <div class="inputGroupContainer">
                  <div class="input-group">
                  <table id="journal" class="table table-bordered table-condensed">
                    <tr><th>#</th><th>Tag</th><th></th></tr>

                </table>
                </div>
                </div>

                <div class="totals">

                  <button class="btn btn-primary" id="addNewTagButton" onclick="" tabindex="-1"><span class="text" data-automationid="Add a new tag-button" tabindex="-1">Add a new tag</span></button>
                </div>
                <div class="actions text-right">
                  <div class="right">
                    <button class="btn btn-light btn-sm"  data-dismiss="modal" tabindex="-1"><span class="text" data-automationid="Cancel-button" tabindex="-1">Cancel</span></button>
                    <button type="submit" class="btn btn-success" id="saveAccountButton" tabindex="-1"><span class="text" data-automationid="Save-button" tabindex="-1">Post Journal</span></button>
                  </div>
                </div>
          </fieldset>
        </form>
      </div>
    </div>
    </div>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/fh-3.1.9/datatables.min.css"/>
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico'/>
    <link href="css/reconcile.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/fh-3.1.9/datatables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="app/accounts.js"></script> 
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
