<html lang = "en">
<head>
    <title>My first login page in bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,intial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .size-color{
            color: blue;
            font-size: 25px;
        }
       .textbox {

             height: 25px !important;

             width: 2200px !important;

             font-size: 14px !important;

                } 
    </style>
    </head>
    <body>
      
    <div class="container">
          <h1 >my first login page</h1>
    <form>
        <div class="form-group ">
           <label for="userid" class="size-color">enter your user id </label>
        <input type="text" id="userid" class="form-control" placeholder="please your user id" size="45"  required>
        </div>
         <div class="form-group">
           <label for="userid " class="size-color">enter your Password </label>
        <input type="password" id="userid" class="form-control" placeholder="please your password" size="450" required>
        </div>
        </form>    
        
        <div class="row">
            <div class="col-xs-4">
            <button class="btn btn-block btn-success ">Login</button>
                    </div> <div class="col-xs-4">
                  <a href="register.view.html">
             <button class="btn btn-block btn-primary">Registration</button></a>
            </div>
           
        </div>
       </div>
        
      
    </body>
