<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container" id="maincontainer">

  <div class="my-3 p-3 bg-white rounded box-shadow">
          <h2 class="border-bottom border-gray pb-2 mb-0">Reports</h2>
          <div class="media text-muted pt-3">
            <!--<img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="" data-holder-rendered="true">-->
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a href="#" text-decoration="none" onclick="getReport('TrialBalance')">
              <strong class="d-block text-gray-dark">Trial Balance</strong>
            A trial balance sheet is a report that lists the ending balances of each account in the chart of accounts	
              </a></p>
          </div>
          <div class="media text-muted pt-3">
            <!--<img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="" data-holder-rendered="true">-->
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a href="#" text-decoration="none" onclick="getReport('GeneralLedger')">
              <strong class="d-block text-gray-dark">General Ledger</strong>
              A general ledger report is a document containing a detailed account of every transaction made by a business for a specific period of time.
              </a></p>
          </div>
          <!--<small class="d-block text-right mt-3">-->
            <!--<a href="#">All Reports</a>-->
          <!--</small>-->
        </div>

</div>
<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructions modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">GoDBLedger-Web Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <h4><em>Using GoDBLedger and GoDBLedger-Web</em></h4>
                <p>GoDBLedger needs to be running on the same server as GoDBLedger-Web. The web gui provided by GoDBLedger-Web will allow you to send transactions to GoDBLedger</p>
                <br>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/fh-3.1.9/datatables.min.css"/>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="app/moment-with-locales.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/fh-3.1.9/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="app/reports.js"></script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
