<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container" id="maincontainer">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class="border-bottom border-gray pb-2 mb-0">User Page</h2>
        <div class="col d-flex justify-content-center">

            <!--Change Password-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <div>
                        <form class="validate-form" action="/changepassword" method="post" id="changepassform">
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="previouspassword" placeholder="Previous Password" style="" autocomplete="off">
                            </div>
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="newpassword" placeholder="New Password" style="" autocomplete="off">
                            </div>
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="repeatpassword" placeholder="Repeat Password" style="" autocomplete="off">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary m-1">Create User</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Currency-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Default Currency</h5>
                    <div>
                        <form class="validate-form" id="changedefaultcurrency">
                            <div class="input-group flex-nowrap m-1">
                                <input type="text" class="form-control" placeholder="USD" aria-label="Default Currency" aria-describedby="addon-wrapping">
                            </div>
                            <button type="submit" class="btn btn-primary m-1">Change Default Currency</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Default timezone locales-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Default Date Locale</h5>
                    <div>
                        <form class="validate-form" id="changedefaultcurrency">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">AUS - DD/MM/YYYY</a>
                                    <a class="dropdown-item" href="#">USA - MM/DD/YYYY</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-1">Change Default Currency</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
    <link rel="stylesheet" type="text/css" href="css/icon-font.min.css">

    <script>
        $( "#changepassform" ).submit(function( event ) {
            event.preventDefault();
            
            var $form = $(this)
            url = $form.attr('action');
        
            var posting = $.post(url, {
                password: $('input[name = password]').val(),
                newpassword: $('input[name = new_password]').val(),
                confirmpassword: $('input[name = confirm_new_password]').val(),
            });
        
            posting.done(function(data) {
                window.location.replace("/");
            });
            posting.fail(function() {
                console.log("lol fail")
            });
        });
    </script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
