<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container" id="maincontainer">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class="border-bottom border-gray pb-2 mb-0">User Page</h2>
        <div class="col d-flex justify-content-center">

            <!--Change Password-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <div>
                        <form class="validate-form" action="/api/user/changepassword" method="post" id="changepassform">
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="password" placeholder="Previous Password" style="" autocomplete="off">
                            </div>
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="new_password" placeholder="New Password" style="" autocomplete="off">
                            </div>
                            <div class="input-group flex-nowrap m-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text lnr lnr-lock"></span>
                                </div>
                                <input type="password" class="form-control" name="confirm_new_password" placeholder="Repeat Password" style="" autocomplete="off">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary m-1">Create User</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Currency-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Default Currency</h5>
                    <div>
                        <form class="validate-form" action="/api/user/defaultcurrency" method="post" id="changedefaultcurrency">
                            <div class="input-group flex-nowrap m-1">
                                <input type="text" name="currency" class="form-control" placeholder="USD" aria-label="Default Currency" aria-describedby="addon-wrapping">
                            </div>
                            <button type="submit" class="btn btn-primary m-1">Change Default Currency</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Default timezone locales-->
            <div class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Default Date Locale</h5>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Dropdown link </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-value="en-AU">en-AU - DD/MM/YYYY</a>
                            <a class="dropdown-item" href="#" data-value="en-US">en-US - MM/DD/YYYY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
    <link rel="stylesheet" type="text/css" href="css/icon-font.min.css">

    <script>
        $( "#changepassform" ).submit(function( event ) {
            event.preventDefault();
            
            var $form = $(this)
            url = $form.attr('action');
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    password: $('input[name = password]').val(),
                    new_password: $('input[name = new_password]').val(),
                    confirm_new_password: $('input[name = confirm_new_password]').val(),
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => console.error(error))
        });

        $( "#changedefaultcurrency" ).submit(function( event ) {
            event.preventDefault();
            
            var $form = $(this)
            url = $form.attr('action');
            console.log("sean remove this")
        
            var currency = $('input[name = currency]').val()
            console.log(currency)
            if (currency.length > 0) {
                fetch(url,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify({
                        currency: currency,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error(error))
            }
        });

        $(".dropdown-menu a").click(function(){
            locale = $(this).data('value')
            $("#dropdownMenuLink").html(locale);
            fetch("api/user/defaultlocale",{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    locale: locale,
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (typeof Date.setLocale !== 'undefined') {
                    Date.setLocale(data.locale);
                    user.datelocale = data.locale
                }
            })
            .catch(error => console.error(error))
        });

        setTimeout(function(){
            $("#dropdownMenuLink").html(user.datelocale);
        }, 1000);

    </script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
