#footer {
  height: 50px;
  position: relative;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ #footer{
  left: 250px;
  width: calc(100% - 250px);
}
#footer p {
  display: block;
  float: left;
  font-size: 0.9em;
}
#footer p a,
#footer p a:Hover {
  text-decoration: none;
}
#footer p a:Hover {
  text-decoration: underline;
}
#footer .darcy {
  padding: 45px 0px 0px 55px;
}
#footer .copyright {
  float: right;
  text-align: right;
  padding: 45px 65px 0px 0px;
}
