table {
    border-collapse:collapse;
    margin: auto;
}
td input {
    width: 100%;
    box-sizing: border-box;
}
td a input {
    width: 100%;
    box-sizing: border-box;
}

.select2-dropdown {
  width: 300px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
