table {
    border-collapse:collapse;
    margin: auto;
    table-layout: fixed;
}
td input {
    width: 100%;
    box-sizing: border-box;
}
td a input {
    width: 100%;
    box-sizing: border-box;
}
.nopad {
    padding-top: 0px !important;
    text-decoration: none;
    border-bottom: none !important;
}
