table {
    border-collapse:collapse;
    margin: auto;
}
td input {
    width: 100%;
    box-sizing: border-box;
}
td a input {
    width: 100%;
    box-sizing: border-box;
}

.select2-dropdown {
  width: 300px !important;
}
